.hw-paginator-wrapper {
  margin: 10px 0px;
}
.hw-paginator-nav-button {
  display: inline-block;
  cursor: pointer;
  color: rgb(85, 125, 243);
  font-weight: bold;
}
.hw-paginator-nav-button:first-of-type {
  margin-right: 10px;
}
.hw-paginator-nav-button:last-of-type {
  margin-left: 10px;
}
.hw-paginator-nav-button.disable {
  cursor: not-allowed;
  color: silver;
}
.hw-paginator-page-button-wrapper {
  display: inline-block;
}
.hw-paginator-page-button {
  display: inline-block;
  background-color: #eeeeee;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  margin: 0px 5px;
  cursor: pointer;
}
.hw-paginator-page-button:hover {
  background-color: rgb(85, 125, 243, 0.7);
  color: white;
}
.hw-paginator-page-button.active {
  background-color: rgb(85, 125, 243);
  color: white;
  font-weight: bold;
}
